@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Easley Univeristy was founded in honor of NASA scientist Annie Easley.</p>
<a href="https://www.nasa.gov/feature/annie-easley-computer-scientist" target="_blank">Click here</a>
