@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Easley Way<br />
    Cleveland, OH 44111<br />
    <abbr title="Phone">P:</abbr>
    216.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@easleyu.edu</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@easleyu.edu</a>
</address>